/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home .banner img {
    position: relative;
    top: 31%; //ajegosgboasbgoasbrgoasrgb
    left: 41%; //aegmsgasognsagnoasogansg
}


.home .banner {
    background: url(../../images/home-hero.jpg) no-repeat top;
    height: 100vh;
    background-size: cover, cover;
    margin-bottom: 1rem;
}


.front-page-journal {
    display:flex;
    margin: 0 auto;
    justify-content: space-around;
    article {
        width: 30%;
    }
    img{
        height: 250px;
        width: 100%;
        
    }
}

.journal-title {
    font-size:40px;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3.75rem;
}

.shop-term  {
    border: 0.4px solid #a1a1a1;
    border-top-width: 5px;
    max-width: 260px;
    padding: 1rem;
    flex: 0 1 25%;

    &.shop-term:hover {
        border: 1px solid orange;
        border-top-width: 5px;

    }
    

   
    img {
        width: 30%;

    }
}

.shop-term a {
    background:#248a83;
    border-radius: 0;
    color: #fff;;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Nove"
}
.shop-term  a:hover {
    background:#19625d; //Took this from website (Ben)
}

.shop-term p {
    font-size: 14px;
    line-height: 1.6rem;
}

.home .shop-terms {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 220px;
}



// Journal Page

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 1120px;
    margin: auto;
    padding-top: 75px;
   }

   .journal-content {
       position: relative
   }

   .journal-page-entry {
    h2.entry-title {
     position: absolute;
     top: 0;
     background-color: $green;
     padding: 3%;
     color: $text-color-light;
     text-transform: uppercase;
     width: 65%;
  
     a {
       text-decoration: none;
       color: $text-color-light;
       font-size: 1.8rem;
     }
   }
}

.journal-page-entry {
    .journal-meta {
    position: absolute;
    right: 84px;
    bottom: 0;
    background-color: $green;
    padding: 1%;
    color: $text-color-light;
    margin-bottom: 0.57.5%;

  }
  }

  .journal-page {
    border-right: 1px solid gray;
  }



  .journal-entry-content p {
padding-right: 5rem;
  }

  .journal-content {
      img{
          width: 90%;
      }

  }

// Single.php

.type-post {
 h1.entry-title {
  position: absolute;
  top: 111px;
  background-color: $green;
  padding: 1.25%;
  color: $text-color-light;
  text-transform: uppercase;
  width: 37%;
    height: 27%;

  a {
    text-decoration: none;
    color: $text-color-light;
    font-size: 1.8rem;
  }
}
}

.type-post {
 .entry-meta {
 position: absolute;
 margin-top: -44px;
 background-color: $green;
 padding: 1.25%;
 color: $text-color-light;
 right: 565px;
    line-height: 0;
    text-transform: uppercase;
     a {
        color: $text-color-light;
        text-decoration: none;
        a:visited {
            color: $text-color-light;
        }
    } 
}
}
.site-main {
    border-right: 1px solid gray;
  }

.type-post {
    
        p {
            padding-right: 5rem;
        }
}

  .entry-header {
      img{
          height:auto;
          width: 90%;
      }

  }

  .entry-footer {
      text-transform: uppercase;
      font-family: "Nove";
      a {
        text-decoration: none;
        color: $green;
      }
      .cat-links {
          padding-right: 1rem;

      }
  }

  .inverse-btn {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    padding: .75rem 1.5rem;
text-decoration: none;
text-transform: uppercase;
&:hover {
    background:#248a83;
    border-radius: 0;
    color: #fff;;
  }
}




.area-404 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 1120px;
    margin: auto;
    padding-top: 75px;
}