/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home .banner img {
    position: relative;
    top: 31%; //ajegosgboasbgoasbrgoasrgb
    left: 41%; //aegmsgasognsagnoasogansg
}


.home .banner {
    background: url(../../images/home-hero.jpg) no-repeat;
    width: 100%;
    height: 850px;
    background-size: cover;
}


.front-page-journal {
    display:flex;
    margin-left: 5%;
    img{
        height: 250px;
        width: 400px;
        
    }
}



.shop-term {
    border: 1px solid gray;
    text-align: center;
   
   
    img {
        width: 31%; //fafasfafasfaf

    }
}


.home .shop-terms {
    display: flex;
    justify-content: space-around;

}