.product .type-product .post-type-archive .post-type-archive-product {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding:1rem;
    border-top: $border_dashed;
}

.grid-area{
    grid-template-columns: 1fr;
}

.archive-content {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 1rem;

}

.archive-meta {
    display:flex;
    justify-content: space-between;
}

.archive-meta-title {
    a{
        text-decoration: none;
        color: $purple;
        font-size: 1rem;
    }
}

.shop-title {
    text-align: center;
}

.archive-meta-price {
    padding-top: 1.65rem;
    padding-right: 1rem;
}
.product-header {
    display:flex; 
    justify-content: center;
    border-bottom: 1px dotted $light-grey;
    padding-bottom: 5rem;
    a {
        padding-right: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Novecento Sans Web,sans-serif;
        color:$green;
        font-size: 1.2rem;
    }
}


.archive-single {
border:$border-solid;

    img {
        height: 270px;
        border-bottom:7px solid $light-grey;
        width: 100%;
    }
}

.archive-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.archive-content {
    padding: 2rem 10rem;
}

.single-shop-area {
.site-main {
    display:flex;
    flex-direction: row;

    article {
        width: 50%;}
        img {
            width:50%;
            height: 40%;
            padding: 5%;

        }
    }}

.type-product {
    h2 {
        text-decoration: none;
    }
}

.site-content {
    padding-top:35px;
    }